/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone", "ti,beaglebone-black";

    part-number = "OvenOverlay";
    version = "00A0";
 
    exclusive-use =
        "pru0", "pru1",
        "P9.14", "ehrpwm1A", // ADC clock
        "P9.28", "P9.29", "P9.30", "P9.31", "spi1", // SPI
        "P9.26", "P9.27", // ADC reset and drdy pins
        "P9.22", "ehrpwm0A", // Oven 0 pwm
        "P8.45", "ehrpwm2A"; // Oven 1 pwm
        
    fragment@0 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            pru_pins: pinmux_pru_pins {   
                pinctrl-single,pins = <0x1AC 0x26>;  // P9_25, mode6 input
            };
            adc_clock_pins: pinmux_adc_clock_pins {
                pinctrl-single,pins = <0x048 0xe>; // P9_14, PWM-1A
            };
            spi_pins: pinmux_spi_pins {
                pinctrl-single,pins = <
                    0x190 0x33      /* P9.31 mcasp0_aclkx.spi1_sclk, INPUT_PULLUP | MODE3 */
                    0x194 0x13      /* P9.29 mcasp0_fsx.spi1_d0, OUTPUT_PULLUP | MODE3 */
                    0x198 0x33      /* P9.30 mcasp0_axr0.spi1_d1, INPUT_PULLUP | MODE3 */
                    0x19c 0x13      /* P9.28 mcasp0_ahclkr.spi1_cs0, OUTPUT_PULLUP | MODE3 */
                    >;
            };
            adc_ctrl_pins: pinmux_adc_ctrl_pins {
                pinctrl-single,pins = <
                    0x180 0x07 // P9_26, gpio output
                    0x0E0 0x36 // P9_27, pru input pull-up
                    >;
            };
            oven_pwm_0_pins: pinmux_oven_pwm_0_pins {
                pinctrl-single,pins = <0x150 0x03>; // P9.22, PWM-0A
            };
            oven_pwm_1_pins: pinmux_oven_pwm_1_pins {
                pinctrl-single,pins = <0x0A0 0x03>; // P8.45, PWM-2A
            };
        };
    };

    fragment@1 {         // Enable the PRUSS
        target = <&pruss>;
        __overlay__ {
            status = "okay";
            pinctrl-names = "default";
            pinctrl-0 = <&pru_pins>;
        };
    };


    fragment@2 {
        target = <&ocp>;
        __overlay__ {
            adc_clock {
                compatible  = "pwm_test";
                pwms        = <&ehrpwm1 0 125 0>;
                pwm-names   = "PWM_P9_14";

                pinctrl-names   = "default";
                pinctrl-0   = <&adc_clock_pins>;

                enabled     = <1>;
                period      = <125>;
                duty        = <62>;
                status      = "okay";
            };
        };
    };    
    fragment@3 {
        target = <&spi1>;
        __overlay__ {

             #address-cells = <1>;
             #size-cells = <0>;
             status = "okay";
             pinctrl-names = "default";
             pinctrl-0 = <&spi_pins>;
             ti,pindir-d0-out-d1-in = <1>;
             spidev@1 {
                 spi-max-frequency = <24000000>;
                 reg = <0>;
                 compatible = "linux,spidev";
            };
        };
    };
    fragment@4 {
        target = <&ocp>;
        __overlay__ {
            oven_pwm_0 {
                compatible  = "pwm_test";
                pwms        = <&ehrpwm0 0 1000 0>;
                pwm-names   = "PWM_P9_22";

                pinctrl-names   = "default";
                pinctrl-0   = <&oven_pwm_0_pins>;

                enabled     = <1>;
                period      = <1000>;
                duty        = <0>;
                status      = "okay";
            };
        };
    };    
    fragment@5 {
        target = <&ocp>;
        __overlay__ {
            oven_pwm_1 {
                compatible  = "pwm_test";
                pwms        = <&ehrpwm2 0 1000 0>;
                pwm-names   = "PWM_P8_45";

                pinctrl-names   = "default";
                pinctrl-0   = <&oven_pwm_1_pins>;

                enabled     = <1>;
                period      = <1000>;
                duty        = <0>;
                status      = "okay";
            };
        };
    }; 
};
